# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.CS-TUI.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\CODING\CS-TUI\.idea\.idea.CS-TUI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
